<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>{{ teacher.prenom }}</title>
</head>
<body>
	<div class="container">
	<div class="row">
		<div class="col-md-8">
  <h1>Product Details</h1>
  <h3>Prenom: {{ teacher.prenom }}</h3>
  <hr>
  <h3>Nom: {{ teacher.nom }}</h3>
  <hr>
</div>
</div>
</div>
</body>
</html>
